{% extends 'layout.html' %}

{% block body %}
<div class="col-md-6 mx-auto" style="margin-top: 30px;">
    <div class="card">
        <div class="card-body">
            <form action="/crear_pedido" method="POST">
                <div class="form-group">
                    <label for="clienteSeleccionado">Seleccione un cliente:</label>
                    <select name="cliente_id" class="form-select" required>
                        <option value="">Seleccione un cliente</option>
                        {% for cliente in clientes %}
                            <option value="{{ cliente[0] }}">{{ cliente[1] }}</option>
                        {% endfor %}
                    </select> 
                </div>
                
                <!-- Sección para productos -->
                <div class="form-group" id="productosContainer">
                    <div class="producto-row">
                        <select name="producto_id[]" class="form-select articuloSelect" required>
                            <option value="">Elija un producto</option>
                            {% for producto in articulo %}
                                <option value="{{ producto[0] }}" data-price="{{ producto[2] }}">{{ producto[1] }}</option>
                            {% endfor %}
                        </select>
                        <input type="number" name="cantidad[]" class="form-control cantidadInput" min="1" placeholder="Cantidad" required>
                        <button type="button" class="btn btn-danger eliminarProducto btn-desplazado">Eliminar</button>
                    </div>
                </div>
                <button type="button" id="agregarProducto" class="btn btn-secondary btn-block mt-2">Agregar otro producto</button>
                <div class="form-group mt-3">
                    <label>Total Pedido:</label><span id="totalPedido">$0.00</span>
                </div>

                <button type="submit" class="btn btn-success btn-block mt-2">Guardar</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
    const cantidades = document.querySelectorAll(".cantidadInput");
    cantidades.forEach(function(cantidad) {
        cantidad.addEventListener("input", calcularTotal);
    });
    
    calcularTotal();  // Calcula el total inicial
});

function calcularTotal() {
    let total = 0;
    const cantidades = document.querySelectorAll(".cantidadInput");
    cantidades.forEach(function(cantidad) {
        const precio = parseFloat(cantidad.getAttribute("data-precio"));
        const valorCantidad = parseFloat(cantidad.value);
        if (!isNaN(precio) && !isNaN(valorCantidad)) {
            total += precio * valorCantidad;
        }
    });
    
    document.getElementById("totalPedido").innerText = "$" + total.toFixed(2);
}


    document.addEventListener("DOMContentLoaded", function() {
    
        function updatePrecio(articuloSelect, cantidadInput) {
            var selectedOption = articuloSelect.options[articuloSelect.selectedIndex];
            var precioUnitario = parseFloat(selectedOption.getAttribute("data-price"));
            var cantidad = parseFloat(cantidadInput.value) || 0;
            if (!isNaN(precioUnitario) && !isNaN(cantidad)) {
                var precioTotal = precioUnitario * cantidad;
                cantidadInput.setAttribute("data-precio", precioTotal.toFixed(2)); // Esto almacena el subtotal en el atributo data-precio
            }
        }


    
        const articuloSelects = document.querySelectorAll(".articuloSelect");
        const cantidadInputs = document.querySelectorAll(".cantidadInput");
    
        articuloSelects.forEach((select, index) => {
            select.addEventListener("change", () => updatePrecio(select, cantidadInputs[index]));
            cantidadInputs[index].addEventListener("input", () => updatePrecio(select, cantidadInputs[index]));
        });
    });

  
    // Función para agregar los listeners de evento a cada fila de producto
    function agregarListenersAProductoRow(productoRow) {
        productoRow.querySelector(".articuloSelect").addEventListener("change", function() {
            updatePrecio(this, productoRow.querySelector(".cantidadInput"));
            calcularTotal();  // Añade esta línea
        });
        productoRow.querySelector(".cantidadInput").addEventListener("input", function() {
            updatePrecio(productoRow.querySelector(".articuloSelect"), this);
            calcularTotal();  // Añade esta línea
        });
        productoRow.querySelector(".eliminarProducto").addEventListener("click", function() {
            productoRow.remove();
            calcularTotal();
        });
    }


    // Aplicamos la función a las filas de producto existentes
    document.querySelectorAll(".producto-row").forEach(agregarListenersAProductoRow);

    document.getElementById("agregarProducto").addEventListener("click", function() {
        const productosContainer = document.getElementById("productosContainer");
        const productoRow = document.querySelector(".producto-row").cloneNode(true);  // Clonamos una fila existente

        // Reiniciamos los valores en la fila clonada
        productoRow.querySelector(".articuloSelect").value = "";
        productoRow.querySelector(".cantidadInput").value = "";

        // Agregamos event listeners a la fila clonada
        agregarListenersAProductoRow(productoRow);

        // Finalmente, añadimos la nueva fila al contenedor
        productosContainer.appendChild(productoRow);

        calcularTotal();  // Añade esta línea
    });


</script>

{% endblock %}