{% extends 'layout.html' %}
{% block body %}

<div class="row">
    <div class="col-md-12">
        
        <h2 class="text-center">Detalle del Pedido</h2>

        <!-- Cabecera con detalles del pedido -->
        {% if detalles %}
        <div class="card text-center mb-4">
            <div class="card-header">
                {{ detalles[0].3 }} <!-- Razon social del cliente -->
            </div>
            <div class="card-body">
                <h5 class="card-title">Pedido N°: {{ detalles[0].0 }}</h5> <!-- Número de pedido -->
                <p class="card-text">Fecha: {{ detalles[0].1 }}</p> <!-- Fecha de pedido -->
            </div>
        </div>
        {% endif %}

        <!-- Detalle del pedido -->
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <td>Producto</td>
                    <td>Precio Unitario</td>
                    <td>Cantidad</td>
                    <td>Subtotal</td>
                </tr>
            </thead>
            <tbody>
                
                {% for detalle in detalles %}
                    <tr>
                        <td>{{ detalle.6 }}</td> <!-- producto -->
                        <td>{{ detalle.7 }}</td> <!-- precio_unitario -->
                        <td>{{ detalle.4 }}</td> <!-- cantidad -->
                        <td>{{ detalle.5 }}</td> <!-- subtotal -->
                    </tr>s
                {% endfor %}
            </tbody>
        <tfoot>
            <tr>
                <td colspan="3" style="text-align: right; font-weight: bold;">Importe Total:</td>
                <td style="border: 2px solid black; text-align: right; font-weight: bold;">{{ total }}</td>
            </tr>
        </tfoot>
    </table>
    </div>
</div>

<div class="text-center mt-5"> 
    
    <button type="submit" class="btn btn-secondary mx-2">Guardar</button>
    <!-- Botón para ir a la página de edición del pedido -->
    <a href="{{ url_for('edit_pedido', id=detalles[0].0) }}" class="btn btn-secondary mx-2">Editar</a>
    <a href="{{ url_for('delete_pedido', id=detalles[0].0) }}" class="btn btn-danger mx-2" onclick="return confirm('¿Estás seguro de que deseas eliminar?');">Eliminar</a>
    <button onclick="imprimirPedido()" class="btn btn-success mx-2">Imprimir Pedido</button>
    
</div>

<script>
    function imprimirPedido() {
        window.print();
    }
</script>

{% endblock %}

