{% extends 'layout.html' %}

{% block body %}
<h2>Editar Pedido</h2>
<form action="/update_pedido/{{ pedido.id_pedido }}" method="post">
    <div>
        <select id="clientes" name="clienteSeleccionado" class="form-select">
            <option selected>Seleccione un cliente</option>
            {% for cliente in clientes %}
                <option value="{{ cliente[0] }}">{{ cliente[1] }}</option>
            {% endfor %}
        </select>
        
        <select id="pedidos" class="form-select">
            <!-- Los pedidos se cargarán aquí dinámicamente -->
        </select>
        
    </div>
    <div>
        <label for="fecha_pedido">Fecha del Pedido:</label>
        <input type="date" id="fecha_pedido" name="fecha_pedido" value="{{ pedido.fecha }}">
    </div>

    <!-- Puedes añadir más campos aquí, como detalles, etc. -->
    <input type="submit" value="Actualizar Pedido">
</form>
{% endblock %}

