{% extends 'layout.html' %}
{% block body%}

<div class="col-md-4 offset-md-4">
<card class=" card body" style="background-color: white; padding: 20px; border: 1px solid #ccc;">
    <form action ="/update_articulo/{{articulo.0}}" method="POST">      
        <div class=" form-group">
            <div class="form-group">
                <label for="exampleFormControlInput1" class="form-label">Producto</label>
                <input type="text" name="producto" placeholder="Producto" value ="{{articulo.1}}" class="form-control">
            </div>
            <div class="form-group">
                <label for="detalleInput" class="form-label">Detalles</label>
                <input type="text" name="detalle" id="detalleInput" placeholder="Detalle del producto" value="{{articulo.2}}" class="form-control">
            </div>
            <div class="form-group">
                <label for="precioInput" class="form-label">Precio</label>
                <input type="number" name="precio" id="precioInput" placeholder="Precio del producto" value="{{articulo.3}}" class="form-control" onclick="clearValue(this)">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1" class="form-label">Stock Disponible</label>
                <input type="text" name="stockDisponible" placeholder="Stock Disponible" value ="{{articulo.4}}"class="form-control" readonly>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1" class="form-label">Stock Vendido</label>
                <input type="text" name="stockVendido" placeholder="Stock Vendido" value ="{{articulo.3}}" class="form-control" readonly>
            </div>
        </div> 
        <td>
            {% if articulo.7 == "activo" %}  <!-- Si el artículo está activo -->
            <a href="/inactivar_articulo/{{articulo.0}}" class="btn btn-desplazado btn-warning">Inactivar</a>
            {% else %}
            <a href="/activar_articulo/{{articulo.0}}" class="btn btn-desplazado btn-success">Activar</a>
            {% endif %}
        </td>
            
            <button type="submit" class="btn btn-success btn-block">Guardar</button>
    </form>
</card>
<script>
    function clearValue(inputElement) {
        inputElement.value = '';
    }
</script>
</div>

{% endblock %}
