{% extends 'layout.html' %}
{% block body%}

<div class = "row">
    <div class="col-md-12">
    <table class="table table-striped table-hover table-bordered bg-white table-sm">
        <thead>
            <tr>
                <td class="text-center align-middle">Codigo Articulo</td>
                <td class="text-center align-middle">articulo</td>
                <td class="text-center align-middle">Detalle</td>
                <td class="text-center align-middle">Precio</td>
                <td class="text-center align-middle">Stock disponible</td>
                <td class="text-center align-middle">Stock vendido</td>
                <td class="text-center align-middle">Rubro</td>
            </tr>
        </thead>
    
        <tbody>
            {% for articulo in articulo %}
            <tr>
                <td class="text-center align-middle">{{ articulo.0 }}</td>
                <td class="text-center align-middle">{{ articulo.1 }}</td>
                <td class="text-center align-middle">{{ articulo.2 }}</td>
                <td class="text-center align-middle">{{ articulo.6 }}</td>
                <td class="text-center align-middle">{{ articulo.4 }}</td>
                <td class="text-center align-middle">{{ articulo.3 }}</td>
                <td class="text-center align-middle">{{ articulo.5 }}</td>
                <td class="text-center align-middle"><a href="/edit_articulo/{{articulo.0}}" class="btn btn-danger"> Editar</a></td>
                <td class="text-center align-middle"><a href="/delete_articulo/{{articulo.0}}" class="btn btn-dark btn-delete-product"> Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="container">
        <td class="text-center align-middle"><a href="/cargarventa" class="btn btn-danger"> Cargar venta</a></td>
        <td class="text-center align-middle"><a href="/cargarstock" class="btn btn-danger"> Agregar stock</a></td>
    </div>
</div>
</div>

{% endblock %}