{% extends 'layout.html' %}
{% block body%}

<div class = "row">
    <div class="col-md-12">
    <table class="table table-striped table-hover table-bordered bg-white table-sm">
        <thead>
            <tr>
                <td class="text-center align-middle">Codigo Articulo</td>
                <td class="text-center align-middle">articulo</td>
                <td class="text-center align-middle">Detalle</td>
                <td class="text-center align-middle">Precio</td>
                <td class="text-center align-middle">Stock Total</td>
                <td class="text-center align-middle">Stock Vendido</td>
                <td class="text-center align-middle">Stock Disponible</td>
                <td class="text-center align-middle">Rubro</td>
            </tr>
        </thead>
    
        <tbody>
            {% for articulo in articulo %}
            <tr>
                <td class="text-center align-middle">{{ articulo.0 }}</td>  <!-- Codigo Articulo -->
                <td class="text-center align-middle">{{ articulo.1 }}</td>  <!-- articulo -->
                <td class="text-center align-middle">{{ articulo.2 if articulo.2 != None else 'Sin detalles' }}</td> <!-- _Detalle -->
                <td class="text-center align-middle">{{ articulo.3 }}</td>  <!-- Precio -->
                <td class="text-center align-middle">{{ articulo.4 }}</td>  <!-- Stock total -->
                <td class="text-center align-middle">{{ articulo.5 }}</td>  <!-- Stock vendido -->
                <td class="text-center align-middle">{{ articulo.7 }}</td>  <!-- Stock Disponible -->
                <td class="text-center align-middle">{{ articulo.6 }}</td>  <!-- Rubro -->
                <td class="text-center align-middle"><a href="/edit_articulo/{{articulo.0}}" class="btn btn-secondary"> Editar</a></td>
                <td class="text-center align-middle"><a href="/delete_articulo/{{articulo.0}}" class="btn btn-dark btn-delete-product"> Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>

    <div class="container">
        <td class="text-center align-middle"><a href="/cargarventa" class="btn btn-secondary"> Cargar venta</a></td>
        <td class="text-center align-middle"><a href="/cargarstock" class="btn btn-dark"> Agregar stock</a></td>
    </div>
</div>
</div>

{% endblock %}